html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  font-family: "Red Hat Display", sans-serif;
  background-image: url(../images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-position: 25% -35%;
}

@media (max-width: 375px) {
  background-image: url(../images/pattern-background-mobile.svg);
}

img {
  max-width: 100%;
  display: block;
}

a {
  display: block;
}

.container {
  max-width: 35rem;
  width: 90%;
  box-shadow: 0 20px 10px rgba(5, 5, 5, 0.123);
}

.card {
  background-color: #fff;
  border-radius: 10px;
}

.card__img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__content {
  padding: clamp(2rem, 5vw, 3rem) clamp(2rem, 5vw, 3rem);
}

.card__head {
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  margin-bottom: 1.5rem;
}

.card__para {
  color: hsl(224, 23%, 55%);
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  background-color: hsl(225, 100%, 98%);
  border-radius: 10px;
  margin-bottom: 3rem;
}

.price__icon {
  margin-right: 1rem;
}

.price__box {
  display: flex;
}

.price__plan {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.price__tenure {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}

.price__cost {
  color: hsl(224, 23%, 55%);
}

.price__link {
  font-size: 1.2rem;
  color: blue;
  transition: all 0.2s;
}

.price__link:hover {
  text-decoration: none;
}

.btn {
  width: 100%;
  cursor: pointer;
  border: none;
  transition: all 400ms;
}

.btn--primary {
  padding: 1.5rem 0;
  color: #fff;
  background-color: hsl(245, 75%, 52%);
  border-radius: 5px;
  margin-bottom: 2rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.233);
}

.btn--primary:hover {
  background-color: hsla(245, 75%, 52%, 0.842);
}

.btn--light {
  background-color: transparent;
  color: hsl(224, 23%, 55%);
  font-weight: 500;
}

.btn--light:hover {
  color: hsl(240, 5%, 8%);
}
